<!DOCTYPE html>
<html lang="fr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <title>Test de MVC Saucisse</title>
  <script type="text/javascript" src="../../lib/easeljs-0.7.1.min.js"></script>
  <script type="text/javascript" src="../../lib/preloadjs-0.4.1.min.js"></script>
  <script type="text/javascript" src="../../lib/soundjs-0.4.1.min.js"></script>
  <script type="text/javascript" src="../../js/observables.js"></script>
  <script type="text/javascript" src="../../js/saucisses.js"></script>
  <script type="text/javascript" src="./testViewSaucisse.js"></script>
 </head>
 <body onload="startTest();">

 <canvas height="480" width="640" id="gameCanvas" style="display: block; margin: auto;"></canvas>
 

</body></html>
